<div class="row">
    <div class="d-flex  flex-column">
        <div class="p-2  d-flex justify-content-center">
            <h1><strong>Harry Toulch Registeration</strong></h1>
        </div>
        <div class="p-2 d-flex justify-content-center">
            <h1>500</h1>
        </div>
        <div class="p-2 d-flex justify-content-center">
            <h1>Internal Server Error</h1>
        </div>
        <div class="p-2 d-flex justify-content-center">
            <p>{{errorMessage}}</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="d-flex  flex-column">
        <div class="p-2 d-flex justify-content-center">
            <a [routerLink]="['/contact-form/patient-form']" routerLinkActive="router-link-active"
                class="btn btn btn-info" role="button" aria-pressed="true" style="border-radius: 30px;">Check my
                Info
            </a>
        </div>
        <div class="p-2 d-flex justify-content-center">
            <a href="https://www.harrytoulch.com" class="btn  btn-primary" role="button" aria-pressed="true"
                style="background-color: blue ;border-radius: 30px;" target="_blank">Harry Toulch Home Page</a>
        </div>
    </div>
</div>