<mat-form-field appearance="outline">
    <mat-label>Select Language</mat-label>
    <mat-select [(ngModel)]="LanguageValue" (selectionChange)="MatSelectLanguage()">
        <mat-option [value]="'en'">
            English
        </mat-option>
        <mat-option [value]="'fr'">
            Française
        </mat-option>
    </mat-select>
</mat-form-field>

<router-outlet></router-outlet>


<p-dialog header="Language Selection" [(visible)]="LanguageSelectionDialog" [modal]="true" [style]="{width: '30vw'}"
    [baseZIndex]="10000" [draggable]="false" [resizable]="false" [closable]="true">
    <p><strong>Please select you language</strong></p>
    <div class="container">
        <div class="row">
            <div class="d-flex justify-content-center">
                <div class="p-2">
                    <button pButton pRipple type="button" label="English" class="p-button-raised"
                        (click)="DialogSelectLanguage('en')"></button>
                </div>
                <div class="p-2">
                    <button pButton pRipple type="button" label="Française" class="p-button-raised p-button-help"
                        (click)="DialogSelectLanguage('fr')"></button>
                </div>

            </div>
        </div>
    </div>
</p-dialog>