<div class="container">
    <div class="d-flex flex-column">
        <div class="d-flex justify-content-center mt-5">
            <img src="../../../../assets/harry-toulch-logo.png" alt="Harry-Toulch" style="width: 40%;height: 20%;">

        </div>
        <div class="d-flex justify-content-center   ">
            <hr />
        </div>

        <div class="d-flex justify-content-center">
            <p style="font-family:;">Online Patient Registeration</p>
        </div>
    </div>

    <router-outlet></router-outlet>
</div>