<div class="container">
    <mat-card>
        <mat-card-header>
            <mat-progress-bar mode="indeterminate" *ngIf="patientFormSpinnerEnabled"></mat-progress-bar>
            <mat-card-title>Harry Toulch</mat-card-title>
            <mat-card-subtitle>Patient Form</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>

            <form [formGroup]="PatientForm" (ngSubmit)="onPatientFormSubmit($event)">
                <div class="row">
                    <mat-form-field class="col-lg-3 col-md-4 col-sm-6 col-xs-12 p-2">
                        <mat-label>First Name <small>(required)</small></mat-label>
                        <input type="text" formControlName="firstName" matInput>
                        <mat-error *ngIf="PatientFormSubmitted && f.firstName.errors?.required">Firstname is required
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-lg-3 col-md-4 col-sm-6 col-xs-12 p-2">
                        <mat-label>Last Name <small>(required)</small></mat-label>
                        <input type="text" formControlName="lastName" matInput>
                        <mat-error *ngIf="PatientFormSubmitted && f.lastName.errors?.required">Lastname is required
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-lg-3 col-md-4 col-sm-6 col-xs-12 p-2">
                        <mat-label>Birthdate <small>(required)</small></mat-label>
                        <input type="date" formControlName="birthDate" matInput>
                        <mat-error *ngIf="PatientFormSubmitted && f.birthDate.errors?.required">Birthdate is required
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-lg-3 col-md-4 col-sm-6 col-xs-12 p-2">
                        <mat-label>Email <small>(required)</small></mat-label>
                        <input type="email" formControlName="email" matInput placeholder="example@example.example">
                        <mat-error *ngIf="PatientFormSubmitted && f.email.errors?.required">E-mail is required
                        </mat-error>
                        <mat-error *ngIf="PatientFormSubmitted && f.email.errors?.email">Invalid E-mail format
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-lg-3 col-md-4 col-sm-6 col-xs-12 p-2">
                        <mat-label>Cell Phone Number<small>(required)</small></mat-label>
                        <app-tel-input formControlName="cell"></app-tel-input>
                        <!-- <mat-hint>Include area code</mat-hint> -->
                        <mat-error *ngIf="PatientFormSubmitted && f.cell.errors?.invalidCell">Please enter a valid cell
                            phone number
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-lg-3 col-md-4 col-sm-6 col-xs-12 p-2">
                        <mat-label>Home Phone Number <small>(optional)</small></mat-label>
                        <app-tel-input formControlName="phone"></app-tel-input>
                        <mat-hint>Include area code</mat-hint>
                    </mat-form-field>
                    <mat-form-field class="col-lg-3 col-md-4 col-sm-6 col-xs-12 p-2">
                        <mat-label>Health Card <small>(optional)</small></mat-label>
                        <input type="text" formControlName="healthCard" matInput>
                    </mat-form-field>
                    <mat-form-field class="col-lg-3 col-md-4 col-sm-6 col-xs-12 p-2">
                        <mat-label>Insurance Company <small>(optional)</small></mat-label>
                        <input type="text" formControlName="insuranceCompany" matInput>
                    </mat-form-field>
                    <div class="pt-4">
                        <mat-slide-toggle [color]="'primary'" formControlName="manualAddressSelect">
                            I would like to enter my address manually.
                        </mat-slide-toggle>
                    </div>
                    <mat-form-field class="col-lg-3 col-md-4 col-sm-6 col-xs-12 p-2" *ngIf="CanadaPostInputEnabled">
                        <mat-label>Address <small>(required)</small> </mat-label>
                        <input type="text" [formControl]="canadaAdressCompleteControl" matInput
                            [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="GetItemDetails($event.option.value)"
                            [displayWith]="displayFn" showPanel="true">
                            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                {{option.Next=='Find' || option.Next==''?option.Description:option.Text}}
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="PatientFormSubmitted && canadaAdressCompleteControl.hasError('required')">
                            Address is
                            required
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-lg-3 col-md-4 col-sm-6 col-xs-12 p-2" *ngIf="!CanadaPostInputEnabled">
                        <mat-label>Address <small>(required)</small></mat-label>
                        <input type="text" formControlName="manualAddressText" matInput>
                        <mat-error *ngIf="PatientFormSubmitted && f.manualAddressText.errors?.required">Address is
                            required
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="col-lg-3 col-md-4 col-sm-6 col-xs-12 p-2" *ngIf="AddressFieldsEnabled">
                        <mat-label>Street Name <small>(required)</small> </mat-label>
                        <input type="text" formControlName="streetName" matInput>
                        <mat-error *ngIf="PatientFormSubmitted && f.streetName.errors?.required">Street Name is required
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-lg-3 col-md-4 col-sm-6 col-xs-12 p-2" *ngIf="AddressFieldsEnabled">
                        <mat-label>Building Number <small>(required)</small> </mat-label>
                        <input type="text" formControlName="buildingNum" matInput>
                        <mat-error *ngIf="PatientFormSubmitted && f.buildingNum.errors?.required">Building Number is
                            required
                        </mat-error>
                    </mat-form-field>
                    <!-- <mat-form-field class="col-lg-3 col-md-4 col-sm-6 col-xs-12 p-2" *ngIf="AddressFieldsEnabled">
                        <mat-label>Building Name <small>(required)</small> </mat-label>
                        <input type="text" formControlName="BuildingName" matInput>
                    </mat-form-field> -->
                    <mat-form-field class="col-lg-3 col-md-4 col-sm-6 col-xs-12 p-2" *ngIf="AddressFieldsEnabled">
                        <mat-label>Apartment Number<small>(optional)</small> </mat-label>
                        <input type="text" formControlName="subBuilding" matInput>
                    </mat-form-field>
                    <mat-form-field class="col-lg-3 col-md-4 col-sm-6 col-xs-12 p-2" *ngIf="AddressFieldsEnabled">
                        <mat-label>City <small>(required)</small> </mat-label>
                        <input type="text" formControlName="city" matInput>
                        <mat-error *ngIf="PatientFormSubmitted && f.city.errors?.required">City is
                            required
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-lg-3 col-md-4 col-sm-6 col-xs-12 p-2" *ngIf="AddressFieldsEnabled">
                        <mat-label>Province <small>(required)</small> </mat-label>
                        <input type="text" formControlName="province" matInput>
                        <mat-error *ngIf="PatientFormSubmitted && f.province.errors?.required">Province is
                            required
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-lg-3 col-md-4 col-sm-6 col-xs-12 p-2" *ngIf="AddressFieldsEnabled">
                        <mat-label>PostalCode <small>(required)</small> </mat-label>
                        <input type="text" formControlName="postalCode" matInput>
                        <mat-error *ngIf="PatientFormSubmitted && f.postalCode.errors?.required">PostalCode is
                            required
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-lg-3 col-md-4 col-sm-6 col-xs-12 p-2" *ngIf="AddressFieldsEnabled">
                        <mat-label>Country <small>(required)</small> </mat-label>
                        <input type="text" formControlName="country" matInput>
                        <mat-error *ngIf="PatientFormSubmitted && f.postalCode.errors?.required">Country is
                            required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="row">
                    <div class="d-flex justify-content-center">
                        <button mat-flat-button color="primary" style="width: 150px;" type="submit">Submit</button>
                    </div>
                </div>
                <div class="row" *ngIf="patientFormSpinnerEnabled">
                    <div class="d-flex justify-content-center">
                        <p-progressSpinner></p-progressSpinner>
                    </div>
                </div>


            </form>
        </mat-card-content>
    </mat-card>
</div>
<p-toast></p-toast>

<!-- <form [formGroup]="PatientForm" (ngSubmit)="onPatientFormSubmit($event)">
    <div class="container">
        <div class="row">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Harry Toulch</mat-card-title>
                    <mat-card-subtitle>Patient Form</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <mat-form-field style="width: 400px;">
                        <input type="text" placeholder="Enter Address" [formControl]="myControl" matInput
                            [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="GetItemDetails($event.option.value)"
                            [displayWith]="displayFn" showPanel="true">
                            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                {{option.Next=='Find' || option.Next==''?option.Description:option.Text}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                    <div class="row">
                        <div class="col">
                            <mat-form-field>
                                <mat-label>Line 1 </mat-label>
                                <input type="text" formControlName="AddressLine1" id="AddressLine1" matInput>
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field>
                                <mat-label>Line 2</mat-label>
                                <input type="text" formControlName="AddressLine2" id="AddressLine2" matInput>
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field>
                                <mat-label>Line 3</mat-label>
                                <input type="text" formControlName="AddressLine3" id="AddressLine3" placeholder="Line 3"
                                    matInput>
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field>
                                <mat-label>Line 4</mat-label>
                                <input type="text" formControlName="AddressLine4" id="AddressLine4" placeholder="Line 4"
                                    matInput>
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field>
                                <mat-label>Line 5</mat-label>
                                <input type="text" formControlName="AddressLine5" id="AddressLine5" placeholder="Line 5"
                                    matInput>
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field>
                                <mat-label>City</mat-label>
                                <input type="text" formControlName="City" id="City" matInput>
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field>
                                <mat-label>Province</mat-label>
                                <input type="text" formControlName="Province" id="Province" matInput>
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field>
                                <mat-label>PostalCode</mat-label>
                                <input type="text" formControlName="PostalCode" id="PostalCode" matInput>
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field>
                                <mat-label>Country</mat-label>
                                <input type="text" formControlName="Country" id="Country" matInput>
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field>
                                <mat-label>Organization</mat-label>
                                <input type="text" formControlName="Organization" id="Organization" matInput>
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field>
                                <mat-label>SearchInput</mat-label>
                                <input type="text" formControlName="SearchInput" id="SearchInput" matInput>
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field>
                                <mat-label>BuildingName</mat-label>
                                <input type="text" formControlName="BuildingName" id="BuildingName" matInput>
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field>
                                <mat-label>BuildingNum</mat-label>
                                <input type="text" formControlName="BuildingNum" id="BuildingNum" matInput>
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field>
                                <mat-label>SubBuilding</mat-label>
                                <input type="text" formControlName="SubBuilding" id="SubBuilding" matInput>
                            </mat-form-field>
                        </div>

                        <div class="col">
                            <mat-form-field>
                                <mat-label>Street</mat-label>
                                <input type="text" formControlName="Street" id="Street" matInput>
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field>
                                <mat-label>District</mat-label>
                                <input type="text" formControlName="District" id="District" matInput>
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field>
                                <mat-label>ProvinceName</mat-label>
                                <input type="text" formControlName="ProvinceName" id="ProvinceName" matInput>
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field>
                                <mat-label>ProvinceCode</mat-label>
                                <input type="text" formControlName="ProvinceCode" id="ProvinceCode" matInput>
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field>
                                <mat-label>FormattedAddress</mat-label>
                                <input type="text" formControlName="FormattedAddress" id="FormattedAddress" matInput>
                            </mat-form-field>
                        </div>
                    </div>

                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button type="submit" color="primary">Submit</button>
                    <button mat-button type="button" (click)="ResetPatientForm()">Reset</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="row pt-3">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Harry Toulch</mat-card-title>
                    <mat-card-subtitle>Patient Form Value</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <div class="row">
                        <div class="col">
                            <p><strong>AddressLine1:</strong>{{PatientForm.value.AddressLine1}}</p>
                            <p><strong>City:</strong>{{PatientForm.value.City}}</p>
                            <p><strong>Province:</strong>{{PatientForm.value.Province}}</p>
                            <p><strong>PostalCode:</strong>{{PatientForm.value.PostalCode}}</p>
                            <p><strong>Country:</strong>{{PatientForm.value.Country}}</p>
                            <p><strong>BuildingName:</strong>{{PatientForm.value.BuildingName}}</p>
                            <p><strong>BuildingNum:</strong>{{PatientForm.value.BuildingNum}}</p>
                            <p><strong>SubBuilding:</strong>{{PatientForm.value.SubBuilding}}</p>
                            <p><strong>Street:</strong>{{PatientForm.value.Street}}</p>
                            <p><strong>ProvinceName:</strong>{{PatientForm.value.ProvinceName}}</p>
                            <p><strong>ProvinceCode:</strong>{{PatientForm.value.ProvinceCode}}</p>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>

        </div>
        <div class="row pt-3">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Harry Toulch</mat-card-title>
                    <mat-card-subtitle>Email Verify</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <div class="row">
                        <div class="col">
                            <div class="col">
                                <mat-form-field style="width: 400px;">
                                    <mat-label>Email</mat-label>
                                    <input type="text" formControlName="Email" placeholder="Example@Example.Domain"
                                        matInput>
                                </mat-form-field>
                            </div>
                            <div class="col">
                                <mat-form-field style="width: 400px;">
                                    <mat-label>Cell</mat-label>
                                    <input type="text" formControlName="Cell" placeholder="xxx-xxx-xxxx" matInput>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</form>
 -->