<div class="card">
    <div class="card-header  d-flex justify-content-center" style="font-size: large;">
        {{'patientform.formfields.cardHeader'|translate}}
    </div>
    <div class="card-body">
        <div class="row">
            <mat-form-field appearance="outline" class="col-lg-3 col-md-4 col-sm-6 col-xs-12 p-2">
                <mat-label>{{'patientform.formfields.fieldslables.languageInput'| translate}}</mat-label>
                <mat-select [(ngModel)]="LanguageValue" (selectionChange)="MatSelectLanguage()">
                    <mat-option [value]="'en'">
                        English
                    </mat-option>
                    <mat-option [value]="'fr'">
                        Français
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <form [formGroup]="PatientForm" (ngSubmit)="onPatientFormSubmit($event)">

            <div class="row">
                <mat-form-field class="col-lg-3 col-md-4 col-sm-6 col-xs-12 {{paddingValue}}" appearance="outline">
                    <!-- <mat-label>First Name <small>(required)</small></mat-label> -->
                    <mat-label>{{'patientform.formfields.fieldslables.firstName'| translate}}
                        <small>({{'patientform.formfields.fieldslablesextras.required'| translate}})</small>
                    </mat-label>
                    <input type="text" formControlName="firstName" matInput>
                    <mat-error *ngIf="PatientFormSubmitted && f.firstName.errors?.required">
                        {{'patientform.formfields.fieldsvalidationerrors.errfirstName'|translate}}
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="col-lg-3 col-md-4 col-sm-6 col-xs-12 {{paddingValue}}" appearance="outline">
                    <mat-label>{{'patientform.formfields.fieldslables.lastName'| translate}}
                        <small>({{'patientform.formfields.fieldslablesextras.required'| translate}})</small>
                    </mat-label>
                    <input type="text" formControlName="lastName" matInput>
                    <mat-error *ngIf="PatientFormSubmitted && f.lastName.errors?.required">
                        {{'patientform.formfields.fieldsvalidationerrors.errlastName'|translate}}
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="col-lg-3 col-md-4 col-sm-6 col-xs-12 {{paddingValue}}" appearance="outline">
                    <mat-label>{{'patientform.formfields.fieldslables.birthDate'| translate}}
                        <small>({{'patientform.formfields.fieldslablesextras.required'| translate}})</small>
                    </mat-label>
                    <input type="date" formControlName="birthDate" matInput>
                    <mat-error *ngIf="PatientFormSubmitted && f.birthDate.errors?.required">
                        {{'patientform.formfields.fieldsvalidationerrors.errbirthDate'|translate}}
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="col-lg-3 col-md-4 col-sm-6 col-xs-12 {{paddingValue}}" appearance="outline">
                    <mat-label>{{'patientform.formfields.fieldslables.email'| translate}}
                        <small>({{'patientform.formfields.fieldslablesextras.optional'| translate}})</small>
                    </mat-label>
                    <input type="email" formControlName="email" matInput placeholder="example@example.example">
                    <mat-icon matSuffix *ngIf="f.email.value!=''"
                        [ngStyle]="{'color': f.email.errors?.notValidEmail==true || f.email.errors?.required ?'red':'#1af11a' }">
                        {{f.email.errors?.notValidEmail==true || f.email.errors?.required ? 'close' :'done'}}</mat-icon>

                    <mat-error *ngIf="f.email.errors?.notValidEmail;">
                        {{'patientform.formfields.fieldsvalidationerrors.invemail2'|translate}}
                    </mat-error>
                    <mat-error *ngIf="PatientFormSubmitted && f.email.errors?.email">
                        {{'patientform.formfields.fieldsvalidationerrors.invemail'|translate}}
                    </mat-error>
                    <mat-error *ngIf="PatientFormSubmitted &&  f.email.errors?.required">
                        {{'patientform.formfields.fieldsvalidationerrors.erremail'|translate}}
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="col-lg-3 col-md-4 col-sm-6 col-xs-12 {{paddingValue}}" appearance="outline">
                    <mat-label>{{'patientform.formfields.fieldslables.cell'| translate}}
                        <small>({{'patientform.formfields.fieldslablesextras.required'| translate}})</small>
                    </mat-label>
                    <input type="text" formControlName="cell" matInput>
                    <!-- <app-tel-input formControlName="cell" [touched]="cellTouched" [inputType]="'cell'"></app-tel-input> -->
                    <mat-hint>{{'patientform.formfields.fieldsvalidationerrors.hintareaCode'|translate}} (xxxxxxxxxx)
                    </mat-hint>
                    <mat-error *ngIf="PatientFormSubmitted && f.cell.errors">
                        {{'patientform.formfields.fieldsvalidationerrors.errcell'|translate}}
                    </mat-error>

                </mat-form-field>
                <mat-form-field class="col-lg-3 col-md-4 col-sm-6 col-xs-12 {{paddingValue}}" appearance="outline">
                    <mat-label>{{'patientform.formfields.fieldslables.phone'| translate}}
                        <small>({{'patientform.formfields.fieldslablesextras.optional'| translate}})</small>
                    </mat-label>
                    <input type="text" formControlName="phone" matInput>
                    <!-- <app-tel-input formControlName="phone" [inputType]="'home'"></app-tel-input> -->
                    <mat-hint> {{'patientform.formfields.fieldsvalidationerrors.hintareaCode'|translate}} (xxxxxxxxxx)
                    </mat-hint>
                    <mat-error *ngIf="PatientFormSubmitted && f.phone.errors">
                        {{'patientform.formfields.fieldsvalidationerrors.errhome'|translate}}
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="col-lg-3 col-md-4 col-sm-6 col-xs-12 {{paddingValue}}" appearance="outline">
                    <mat-label>{{'patientform.formfields.fieldslables.healthCard'| translate}}
                        <small>({{'patientform.formfields.fieldslablesextras.optional'| translate}})</small>
                    </mat-label>
                    <input type="text" formControlName="healthCard" matInput>
                    <mat-error *ngIf="f.healthCard.errors">
                        {{'patientform.formfields.fieldsvalidationerrors.errhealthCard'| translate}}
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="col-lg-3 col-md-4 col-sm-6 col-xs-12 {{paddingValue}}">
                    <mat-label>{{'patientform.formfields.fieldslables.preferedContact'| translate}}
                        <small>({{'patientform.formfields.fieldslablesextras.required'| translate}})</small>
                    </mat-label>
                    <mat-select formControlName="preferedContact">
                        <mat-option [value]="'SMS'">
                            SMS
                        </mat-option>
                        <mat-option [value]="'Email'">
                            Email
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="PatientFormSubmitted && f.preferedContact.errors?.required">
                        {{'patientform.formfields.fieldsvalidationerrors.errPreferredContact'|translate}}
                    </mat-error>
                </mat-form-field>
                <!-- <mat-form-field class="col-lg-3 col-md-4 col-sm-6 col-xs-12 {{paddingValue}}" appearance="outline">
                    <mat-label>{{'patientform.formfields.fieldslables.insuranceCompany'| translate}}
                        <small>({{'patientform.formfields.fieldslablesextras.optional'| translate}})</small>
                    </mat-label>
                    <input type="text" formControlName="insuranceCompany" matInput>
                </mat-form-field> -->
                <mat-form-field class="col-lg-12 col-md-12 col-sm-12 col-xs-12 {{paddingValue}} "
                    *ngIf="CanadaPostInputEnabled" appearance="outline">
                    <mat-label>{{'patientform.formfields.fieldslables.canadaAdressCompleteControl'| translate}}
                        <small>({{'patientform.formfields.fieldslablesextras.required'| translate}})</small>
                    </mat-label>
                    <input type="text" [formControl]="canadaAdressCompleteControl" matInput [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="GetItemDetails($event.option.value)"
                        [displayWith]="displayFn" showPanel="true">
                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                            <b> {{option.Id==''?'Start typing a street address or postal code':option.Text+' '+
                                option.Description}}</b>
                        </mat-option>
                        <mat-option disabled>
                            Canada Post AddressComplete
                        </mat-option>
                    </mat-autocomplete>
                    <mat-error *ngIf="PatientFormSubmitted && canadaAdressCompleteControl.hasError('required')">
                        {{'patientform.formfields.fieldsvalidationerrors.errAddress'|translate}}
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="col-lg-12 col-md-12 col-sm-12 col-xs-12 {{paddingValue}}"
                    *ngIf="!CanadaPostInputEnabled" appearance="outline">
                    <mat-label>{{'patientform.formfields.fieldslables.manualAddressText'| translate}}
                        <small>({{'patientform.formfields.fieldslablesextras.required'| translate}})</small>
                    </mat-label>
                    <input type="text" formControlName="manualAddressText" matInput>
                    <mat-error *ngIf="PatientFormSubmitted && f.manualAddressText.errors?.required">
                        {{'patientform.formfields.fieldsvalidationerrors.errAddress'|translate}}
                    </mat-error>
                </mat-form-field>
                <div *ngIf="manualAddressToggle">
                    <mat-slide-toggle [color]="'primary'" formControlName="manualAddressSelect">
                        {{'patientform.formfields.fieldslables.manualAddressSelect'|
                        translate}}
                    </mat-slide-toggle>
                </div><br><br><br>
                <mat-form-field class="col-lg-3 col-md-4 col-sm-6 col-xs-12 {{paddingValue}}"
                    *ngIf="AddressFieldsEnabled" appearance="outline">
                    <mat-label>{{'patientform.formfields.fieldslables.buildingNum'| translate}}
                        <small>({{'patientform.formfields.fieldslablesextras.required'| translate}})</small>
                    </mat-label>
                    <input type="text" formControlName="buildingNum" matInput>
                    <mat-error *ngIf="PatientFormSubmitted && f.buildingNum.errors?.required">
                        {{'patientform.formfields.fieldsvalidationerrors.errBuildingNum'|translate}}
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="col-lg-3 col-md-4 col-sm-6 col-xs-12 {{paddingValue}}"
                    *ngIf="AddressFieldsEnabled" appearance="outline">
                    <mat-label>{{'patientform.formfields.fieldslables.streetName'| translate}}
                        <small>({{'patientform.formfields.fieldslablesextras.required'| translate}})</small>
                    </mat-label>
                    <input type="text" formControlName="streetName" matInput>
                    <mat-error *ngIf="PatientFormSubmitted && f.streetName.errors?.required">
                        {{'patientform.formfields.fieldsvalidationerrors.errStreetName'|translate}}
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="col-lg-3 col-md-4 col-sm-6 col-xs-12 {{paddingValue}}"
                    *ngIf="AddressFieldsEnabled" appearance="outline">
                    <mat-label>{{'patientform.formfields.fieldslables.subBuilding'| translate}}
                        <small>({{'patientform.formfields.fieldslablesextras.optional'| translate}})</small>
                    </mat-label>
                    <input type="text" formControlName="subBuilding" matInput>
                </mat-form-field>
                <mat-form-field class="col-lg-3 col-md-4 col-sm-6 col-xs-12 {{paddingValue}}"
                    *ngIf="AddressFieldsEnabled" appearance="outline">
                    <mat-label>{{'patientform.formfields.fieldslables.city'| translate}}
                        <small>({{'patientform.formfields.fieldslablesextras.required'| translate}})</small>
                    </mat-label>
                    <input type="text" formControlName="city" matInput>
                    <mat-error *ngIf="PatientFormSubmitted && f.city.errors?.required">
                        {{'patientform.formfields.fieldsvalidationerrors.errCity'|translate}}
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="col-lg-3 col-md-4 col-sm-6 col-xs-12 {{paddingValue}}"
                    *ngIf="AddressFieldsEnabled" appearance="outline">
                    <mat-label>{{'patientform.formfields.fieldslables.province'| translate}}
                        <small>({{'patientform.formfields.fieldslablesextras.required'| translate}})</small>
                    </mat-label>
                    <input type="text" formControlName="province" matInput>
                    <mat-error *ngIf="PatientFormSubmitted && f.province.errors?.required">
                        {{'patientform.formfields.fieldsvalidationerrors.errProvince'|translate}}
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="col-lg-3 col-md-4 col-sm-6 col-xs-12 {{paddingValue}}"
                    *ngIf="AddressFieldsEnabled" appearance="outline">
                    <mat-label>{{'patientform.formfields.fieldslables.postalCode'| translate}}
                        <small>({{'patientform.formfields.fieldslablesextras.required'| translate}})</small>
                    </mat-label>
                    <input type="text" formControlName="postalCode" matInput>
                    <mat-error *ngIf="PatientFormSubmitted && f.postalCode.errors?.required">
                        {{'patientform.formfields.fieldsvalidationerrors.errPostalCode'|translate}}
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="col-lg-3 col-md-4 col-sm-6 col-xs-12 {{paddingValue}}"
                    *ngIf="AddressFieldsEnabled" appearance="outline">
                    <mat-label>{{'patientform.formfields.fieldslables.country'| translate}}
                        <small>({{'patientform.formfields.fieldslablesextras.required'| translate}})</small>
                    </mat-label>
                    <input type="text" formControlName="country" matInput>
                    <mat-error *ngIf="PatientFormSubmitted && f.country.errors?.required">
                        {{'patientform.formfields.fieldsvalidationerrors.errCountry'|translate}}
                    </mat-error>
                </mat-form-field>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 {{paddingValue}}">
                    <mat-checkbox formControlName="firstVisitOption" [color]="'primary'">
                        {{'patientform.formfields.fieldslables.firstVisitOption'| translate}}
                    </mat-checkbox>
                </div>
            </div>
            <div class="row">
                <div class="d-flex justify-content-left p-2">
                    <mat-checkbox formControlName="disclaimer" [color]="'primary'">
                        {{'patientform.formfields.fieldslables.disclaimer'| translate}}
                    </mat-checkbox><br>
                </div>
                <mat-error *ngIf="PatientFormSubmitted && f.disclaimer.errors">
                    {{'patientform.formfields.fieldsvalidationerrors.errDisclaimer'|translate}}
                </mat-error>
            </div><br>
            <div class="row">
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary"
                        [disabled]="SubmitButtonDisabled">{{'patientform.submitbutton'|translate}}</button>
                </div>
            </div><br>
            <mat-error style="text-align: center;" *ngIf="PatientFormSubmitted && PatientForm.invalid">
                {{'patientform.formfields.fieldsvalidationerrors.errGeneral'|translate}}
            </mat-error>
            <div class=" row" *ngIf="patientFormSpinnerEnabled">
                <div class="d-flex justify-content-center">
                    <p-progressSpinner></p-progressSpinner>
                </div>
            </div>


        </form>

    </div>
</div>

<p-toast></p-toast>



<p-dialog header=" " [(visible)]="LanguageSelectionDialog" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false" [closable]="true">
    <div class="d-flex justify-content-center" style="text-align: center;">
        <p style="font-family: PtSansBold;">Veuillez sélectionner votre langue/Please select your language</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="d-flex flex-wrap justify-content-center">
                <div class=" p-2">
                    <button pButton pRipple type="button" label="Français" class="p-button-raised p-button-help"
                        style="width: 150px;" (click)="DialogSelectLanguage('fr')"></button>
                </div>
                <div class=" p-2">
                    <button pButton pRipple type="button" label="English" class="p-button-raised" style="width: 150px;"
                        (click)="DialogSelectLanguage('en')"></button>
                </div>

            </div>
        </div>
    </div>
</p-dialog>

<p-dialog header=" " [(visible)]="ThankYouDialogVisible" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false" [position]="'top'" [closable]="false">
    <p style="text-align: center;"><strong> {{'patientform.formfields.thankYouLetter'|translate}}</strong>
    </p>
    <!-- <div class="d-flex justify-content-center">
        <button class="btn btn-primary" style="width: 150px;" type="button" (click)="RedirectAfterSubmit()">Ok</button>
    </div> -->
</p-dialog>