<div class="row">
    <div class="d-flex  flex-column">
        <div class="p-3  d-flex justify-content-center">
            <h1 style="font-family:PtSansReg "><strong>Harry Toulch Registeration</strong></h1>
        </div>
        <div class="p-3 d-flex justify-content-center">
            <h3><strong>404</strong></h3>
        </div>
        <div class="p-3 d-flex justify-content-center">
            <p style="font-family:PtSansReg">Looks like the page you were looking for is no longer here.</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="d-flex  flex-column">
        <div class="p-2 d-flex justify-content-center">
            <a [routerLink]="['/contact-form/patient-form']" routerLinkActive="router-link-active"
                class="btn btn btn-info" role="button" aria-pressed="true"
                style="border-radius: 30px;font-family:PtSansReg">Check my
                Info
            </a>
        </div>
        <div class="p-2 d-flex justify-content-center">
            <a href="https://www.harrytoulch.com" class="btn  btn-primary" role="button" aria-pressed="true"
                style="background-color: blue ;border-radius: 30px;font-family:PtSansReg" target="_blank">Harry Toulch
                Home Page</a>
        </div>
    </div>
</div>